<style>

        .button-top-spacing { margin-top: 60px; margin-bottom : 40px; }
      
        .text-spacing { margin-top:40px; }
      
        .button-command-spacing { margin-top:40px; }
      
        .inp {
          border:none;
          border-bottom: 1px solid #1890ff;
          padding: 5px 10px;
          outline: none;
        }

        .logintext { 
            font-size: 26px;
            font-weight: bold;
        }
      
</style>
    
    
   
    <div class="row mt-3">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8 mx-auto">
         <p class="logintext"> Technician Login </p>
       </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
          <input type="password" class="inp" placeholder="username">
       </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8 mx-auto">
            <button class="btn btn-primary">Start</button>
       </div>
        <div class="col-md-2">      
        </div>
    </div>
  
